@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  
  --font-sans: 'Atkinson Hyperlegible', system-ui, sans-serif;
  --font-mono: 'Atkinson Hyperlegible Mono', monospace;
  --font-serif: 'Prata', serif;
  
  --color-primary-50: #f0faff;
  --color-primary-100: #dff5ff;
  --color-primary-200: #b8edff;
  --color-primary-300: #65dcff;
  --color-primary-400: #33d2fd;
  --color-primary-500: #09bdee;
  --color-primary-600: #0098cc;
  --color-primary-700: #007aa5;
  --color-primary-800: #046788;
  --color-primary-900: #0a5570;
  --color-primary-950: #06364b;

  --color-secondary-50: #f7faeb;
  --color-secondary-100: #eef4d3;
  --color-secondary-200: #ddeaac;
  --color-secondary-300: #c1d771;
  --color-secondary-400: #aec853;
  --color-secondary-500: #90ad35;
  --color-secondary-600: #708a26;
  --color-secondary-700: #556a21;
  --color-secondary-800: #45551f;
  --color-secondary-900: #3b481f;
  --color-secondary-950: #1e270c;
}

h1 {
  @apply font-serif;
}
