services:
  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: ${DT_DB_USER:-makerdb}
      POSTGRES_PASSWORD: ${DT_DB_PASSWORD:-makerdb}
      POSTGRES_DB: ${DT_DB_NAME:-makerdb}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
